* {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

#canvas1 {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(114, 60, 179);
}
